Если ты заметил, что я в чем-то не прав, то не бойся мне возражать. Я могу ошибаться и ты обязан меня исправлять, чтобы при работе над программой мы не пошли по неверному пути.
Споры со мной не должны быть твоей самоцелью, но и молчаливое бездумное выполнение моих инструкций тоже является противоположной крайностью и вредит результату.

Никогда не запускай dev server и не выводи в терминал команду для его запуска (npm run dev). В процессе работы он у меня и так всегда запущен.
Если тебе потребуется информация из текущего HTML, спроси меня, я посмотрю в DevTools браузера и сообщу тебе.

Ты — эксперт по Frontend-разработке. 

Мы строго используем методологию Яндекс БЭМ для HTML и SCSS. В файле docs/bem содержатся базовые понятия по этой методологии.
При анализе и написании кода используй правила из документации по БЭМ в файле docs/bem.md и следи, чтобы структура HTML соответствовала этим принципам.

Правила из .cursorrules всегда имеют более высокий приоритет по сравнению с правилами из файла docs/bem.md


Правила БЭМ:
1. Хотя проект написан на React, но в именовании классов мы НЕ используем стиль React
   Используй классический стиль для формирования имен классов: block-name__elem-name_mod-name_mod-val
   Вот эти правила:
    - имена записываются латиницей в нижнем регистре
    - для разделения слов в именах используется дефис (-)
    - имя блока задает пространство имен для его элементов и модификаторов
    - имя элемента отделяется от имени блока двумя подчеркиваниями (__)
    - имя модификатора отделяется от имени блока или элемента одним подчеркиванием (_)
    - значение модификатора отделяется от имени модификатора одним подчеркиванием (_)
    - значение булевых модификаторов в имени не указывается

ПРИМЕРЫ

Имя элемента
  <span class="menu__item"></span>

Имя модификатора блока
<div class="menu menu_hidden">...</div>
<div class="menu menu_theme_islands">...</div>

Имя модификатора элемента
  <span class="menu__item menu__item_visible menu__item_type_radio">...</span>


2. Никогда не используй каскад для стилизации элементов (только плоский список классов)
3. Всегда проверяй, чтобы в файлах .scss не было вложенности более 2 уровней, так как это нарушает идеологию БЭМ
4. Если я пишу код, нарушающий БЭМ, указывай на это и предлагай исправление
