@import "../../scss/theme-app";
@import "../../blocks/FormLayout/FormLayout.scss";

.LoginForm {
  margin-bottom: 5%;
}

.LoginForm-RegButton {
  margin-top: 17px;
}

.LoginForm-RegLink {
  transition: none;

  &:hover {
    border-bottom: 1px solid $input--border-color-light;
  }
}

.LoginForm-RememberLink {
  /* Стили для ссылки "Я забыл пароль" */
}
