@import "../../scss/theme-app";

.Topbar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background: $white;
  padding: 5px 0;
  border-bottom: 1px solid $border--color;
  min-height: 48px;

  > div {
    padding: 0 30px;
  }

  :last-child {
    padding-right: 0;
  }
}

.Topbar .Nav-Link {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 23px;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  letter-spacing: 0.96px;
  margin: 0 3px;

  &:hover {
    border-bottom-color: $black;
  }
}

.Link {
  border-bottom: none;
}


/**************************/
@media (max-width: 768px) {
  .Topbar {
    > div {
      padding: 0 15px;
    }

    .Topbar-IconNotifications,
    .Topbar-Username {
      display: none;
    }

  }

}
