@import "../../scss/theme-app";

/* Блок FormLayout - раскладка элементов формы */

/* Элемент: форма */
.FormLayout-Form {
  margin-top: 10px;
}

/* Элемент: логотип */
.FormLayout-Logo {
  margin: 0 0 5px;
  display: flex;
  align-items: center;
}

/* Элемент: заголовок */
.FormLayout-Title {
  text-align: center;
  font-size: 25px;
  line-height: 28px;
}

/* Элемент: подзаголовок */
.FormLayout-Subtitle {
  text-align: center;
  font-size: 20px;
}

/* Элемент: кнопка */
.FormLayout-Button {
  width: 270px !important;
  padding: 5px 0;
  box-shadow: none;

  &:hover {
    width: 278px;
  }

  &:disabled {
    &:hover {
      width: 270px;
    }
  }
}

/* Элемент: чекбокс */
.FormLayout-InputCheckbox {
  width: 27px !important;
  height: 27px !important;
}

/* Элемент: предупреждение */
.FormLayout-Warning {
  color: $red;
  line-height: 14px;
  font-size: 13px;
}

/* Элемент: информационный блок */
.FormLayout-Info {
  /* Стили для информационных блоков */
}

.Auth-Button {
  width: 270px !important;
  padding: 5px 0;
  box-shadow: none;

  &:hover {
    width: 278px;
  }

  &:disabled {
    &:hover {
      width: 270px;
    }
  }
}