.topbar__icons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  padding-left: 0 !important;

  img {
    display: block;
    height: 100%;
  }

}

.topbar-IconToggleMenu {
  flex-grow: 1;
  padding-left: 0;
}
