.Page-Menu_closed {
  width: 0 !important;
  min-width: 0 !important;

  .Page-SideNav {
    opacity: 0;
  }
}

/**************************/
@media (max-width: 768px) {
  .Page-Menu_closed {

    &::before{
      position: static !important;
    }

  }
}
