.page__menu_closed {
  width: 0 !important;
  min-width: 0 !important;

/* TODO: проверить селектор для SideNav */
}

/**************************/
@media (max-width: 768px) {
  .page__menu_closed {

    &::before{
      position: static !important;
    }

  }
}
