@import "../../scss/theme-app";

.Logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lighten($black, 25%);
  transition: color $transition-duration;

  &:hover {
    color: $link--color;
    border-bottom-color: transparent;
  }

  .Link {
    &:hover {
      border-bottom-color: transparent;
    }
  }

}
