@import "../../../scss/theme-app";

.Input_SmsCode {
  margin-bottom: 33px;

  #smsCode, .InputText_modType_smsCode {
    height: 45px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2.9px;
    width: 220px;
    margin: 0 auto;
    padding-bottom: 2px;
    color: $nav-link--color;
  }

  .InputHelp {
    //width: 220px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 2px;
  }

}

.Input_hasError {
  #smsCode, .InputText_modType_smsCode {
    border-left-color: $error--color !important;
  }
}

