@import "../../../../scss/theme-app";

.nav__item_active {

  &:hover {
    font-size: 16px;
  }

  .nav__link {
    color: $nav-link--color_active;
    border-bottom: 2px solid $black;
    padding-bottom: 2px;
  }

}

