.p-autocomplete {
  display: inline-block !important;
  width: 80%;
}
.p-autocomplete-input {
  font-size: 15px;
  padding: 4px 5px;
}

.p-inputtext {
  width: 90% !important;
  &:focus {
    box-shadow: none !important;
  }
}

.p-button.p-button-icon-only {
  width: 35px;
  padding: 3px 0;
}
/*
.card {
  border-radius: 10px;
}*/
