@import "../../scss/theme-app";

.Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  >div, >p, >ul {
    margin-top: 0;
    margin-bottom: $form-input--margin-bottom;
  }

  >div:last-child {
    margin-bottom: 0;
  }

  .SubmitButton-Wrap {
    margin-top: 0;
  }
}
